@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');

body {
    font-family: 'Commissioner', sans-serif;
}

::selection {
    background-color: #21a1ff;
    color: #fff;
}

::-moz-selection {
    background-color: #21a1ff;
    color: #fff;
}

#logo {
    margin-top: 50px;
}

#logo > img {
    height: 100px;
}

@media (min-width: 1200px) {
    body {
        background-color: #eee;
    }

    .container-fluid {
        background-color: #fff;
        margin: 50px;
        width: calc(100vw - 100px);
        height: calc(100vh - 324px);
        min-height: 450px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }
}

textarea {
    resize: none;
}

#process-description, #process-model {
    min-height: 200px;
    overflow-y: auto;
}

footer {
    margin-bottom: 50px;
}
