<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Text-In-Model-Out</title>

        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bpmn-js@8.3.0/dist/assets/diagram-js.css">
        <link rel="stylesheet" href="https://unpkg.com/bpmn-js@8.3.0/dist/assets/bpmn-font/css/bpmn.css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class="text-center" id="logo">
            <img src="{% static 'img/app-logo.svg' %}" alt="Application Logo" class="img-fluid">
        </header>

        <main class="container-fluid p-5">
            <div class="row h-100">
                <div class="col-xl h-100 d-flex flex-column">
                    <div class="text-center">
                        <h1>Input: Process Description</h1>
                    </div>
                    <div class="mb-3 flex-fill">
                        <label for="process-description" class="form-label d-none">Process Description</label>
                        <textarea class="form-control h-100 border rounded" id="process-description" placeholder="Please provide here a process description..."></textarea>
                        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                        {% csrf_token %}
                    </div>
                    <div class="mb-3 text-center">
                        <button type="button" class="btn btn-outline-primary" id="button-create-model" disabled="disabled">Create Process Model</button>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-secondary btn-example" data-btn="1">Load Example 1</button>
                        <button type="button" class="btn btn-outline-secondary btn-example" data-btn="2">Load Example 2</button>
                        <button type="button" class="btn btn-outline-secondary btn-example" data-btn="3">Load Example 3</button>
                        <button type="button" class="btn btn-outline-secondary btn-example" data-btn="4">Load Example 4</button>
                    </div>
                </div>
                <div class="col-xl h-100 d-flex flex-column">
                    <div class="text-center">
                        <h1>Output: Process Model</h1>
                    </div>
                    <div class="mb-3 border rounded flex-fill" id="process-model"></div>
                    <div class="mb-3 text-center">
                        <button type="button" class="btn btn-outline-primary" disabled="disabled">Export as SVG</button>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-secondary" disabled="disabled">Clear Process Model</button>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-decoration-none">About</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-decoration-none">Imprint</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-decoration-none">Privacy</a>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/bpmn.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
